<div ng-app="autovalutazioneApp" class="container" ng-init="schedaNo=0" >
  <h2>Questioni:</h2>
  <div ng-animate="'animate'" ng-repeat="questione in questioni" >
  
    <div id="scheda{{$index}}" class="scheda" ng-if="$index<=schedaNo" >
    <a id="question{{$index}}"></a>
    <p>Questione {{$index+1}}: {{ questione }}</p>
    <a ng-click="update($index,'SI')">SI</a>&nbsp;
    <a ng-click="update($index,'NO')">NO</a>&nbsp;
    </div><!-- end scheda -->  
  </div>  

  <footer>
    <button ng-click="toTheTop()">Take me back!</button>
    <button ng-click="scrollaTo('scheda0')">Take me to questione0</button>
  </footer>
</div>