<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700  ' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



<div ng-app="autovalutazioneApp" class="avcontainer" ng-init="currDomanda=-1">

<div class="sdpage inizio"> 
  <h1>LES - Lupus Eritematoso Sistemico</h1>
  <h2>Test di autovalutazione</h2>
  Spesso le malattie reumatiche sono insidiose e i loro sintomi possono essere ben mascherati. Attraverso una corretta informazione e con l’uso di alcuni semplici supporti possiamo effettuare una autovalutazione che può rassicurarci sul nostro stato di salute.
  <div class="risposte"> 
  <div class="begin" ng-click="inizia()"><a href="" class="" >inizia il test</a></div>
  </div>

</div>




<div ng-repeat="questione in questioni" id="questionContainer">

  <div id="scheda{{$index}}" class="sdpage" ng-show="$index<=currDomanda" ng-init="currQuest=$index">

    <a id="question{{$index}}"></a>
    <span class="questionNo">domanda&nbsp;{{$index+1}} di {{questioni.length}}</span>
    <br /> {{ questione.domanda }}

    <div class="risposte">       
      
    <div class="btn-group" data-toggle="buttons" >
      <label class="btn btn-primary" ng-click="update(currQuest,risposta)" ng-repeat="risposta in questione.risposte">
      <input type="radio" name="options" id="option{{$index}}" >{{risposta}}</label>    
    </div>  

    </div><!-- end risposte -->


  </div><!-- end scheda -->

</div>  


<div id="schedaRisultati" class="sdpage risultati" ng-init="!risultatiScheda" ng-show="risultatiScheda" > <!-- -->

<div class="risultatiHead centrato" ng-click="mostraRisultati()" ng-init="!risultatiBtn" ng-show="risultatiBtn"> <!--  -->
  <h2>Mostra risultati del test</h2>
</div>

<div class="risultatiHead" ng-show="risultatiVisibili" ng-init="!risultatiVisibili"  > <!-- -->
<!--<h2 class="azzurro">Hai risposto SI a {{numeroRispostePositive}} domande del test<br /></h2> -->

<div ng-show="risultatoPositivo"  > <!---->
  <h2 class="azzurro">Hai risposto SI ad almeno due domande del test</h2>
  <h2>Ti consigliamo di rivolgerti al tuo medico di Medicina Generale per valutare il tuo stato di salute.</h2>
</div>
<div ng-show="risultatoNegativo">
  <h2 class="azzurro">Hai risposto SI a {{numeroRispostePositive}} domande del test</h2>
  <h2> Non presenti i più frequenti sintomi del LES.</h2>
</div>
    
  
  <div class="testo">
<h2>Cos'è il Lupus Eritematoso Sistemico</h2>
    Il lupus eritematoso sistemico è una malattia reumatica infiammatoria cronica, relativamente rara, classificata fra le connettiviti sistemiche. Essa è ’ più frequente nelle giovani donne. La sua causa è sconosciuta, ma è ben documentato il ruolo di fattori predisponenti di tipo genetico, ormonale (ormoni sessuali femminili) ed ambientale (infezioni virali, alcuni farmaci o sostanze tossiche, raggi ultravioletti). La coesistenza dei fattori di cui sopra induce alcune alterazioni del sistema immunitario che reagisce contro l’organismo stesso (malattia “autoimmune”) causando le molteplici manifestazioni della malattia Sono oggi disponibili diverse terapie  capaci di correggere le anomalie immunologiche e curare la malattia.</div>
  <br /><br /><a href="" ng-click="inizia()" class="smallRo">Ripeti il test</a>
</div>

</div>